<audio autoplay loop id="audio" ></audio>
 <div id="quiz-id" style="display: none;"> <%= @quiz.id %> </div>
<div id = "frame" role = "content" > 
</div>

<div class="modal" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false"id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Boooo!!!!!</h4>
        </div>
        <div class="modal-body">
          Oopss Time out!!
        </div>
        <div class="modal-footer">
          <a class="close" data-dismiss="modal" aria-hidden="true" id="next-question-modal">Next Question</a>
        </div>
      </div>
    </div>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => "shared/game_logic" %>
  </script>
<% end %>