<div id="box-loader">
  <div class="loader" id="circles">
      <h1>LOADING</h1>
      <span></span>
      <span></span>
      <span></span>
  </div>
</div>


<div id="todo" class="hidden">
  <div class="container mt">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 centered">
          <audio autoplay loop id="audio" ></audio>
          <audio id="win_sound" src= "http://apm.eduardereza.com/audio/voy_fuerte.mp3"%> ></audio>
          <audio id="loose_sound" src= "http://apm.eduardereza.com/audio/zasca.mp3"%> ></audio>
          <div id="quiz-id" style="display: none;"> <%= @quiz.id %> </div>
          <div id="user-id" style="display: none;"> <%= @user.id %> </div>
          <div id = "frame" role = "content" >
          <div id="top-frame" ></div>
            <div class="seekbar">
              <progress value="0" max="30"></progress>
            </div>
          <div id="bottom-frame"></div>
          </div>
      </div>
    </div>
  </div>
</div>
    

<div class="modal custom-modal" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false"id="correct_modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Correct</h4>
        </div>
        <div class="modal-body mymodal">
        <img src="http://media.giphy.com/media/kmYBXYUp3K8lG/giphy.gif">
        </div>          
       <div class="modal-footer">
          <a class="close" data-dismiss="modal" aria-hidden="true" id="next-question-modal-succes">Next Question</a>
        </div>
      </div>
    </div>
</div>

<div class="modal custom-modal" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false"id="timeup_modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Boooo!!!!!</h4>
        </div>   
          <img src="http://media.giphy.com/media/lmmPhmwEELuPC/giphy.gif">         
        <div class="modal-footer">
          <a class="close" data-dismiss="modal" aria-hidden="true" id="next-question-modal-fail">Next Question</a>
        </div>
      </div>
    </div>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => "shared/game_logic" %>
  </script>
  <style type="text/css">
    <%= render :partial => "shared/quiz_show_style" %>
  </style>
<% end %>