
<style type="text/css">
  ul{
    list-style-type: none;
  }
  #guapa{
     background-color: #e74c3c; 
  }

  progress {
    width: 60%;
    height: 15px;
    padding: 0;
    background-color: #3e3e40;
    position: relative;
    border: 0;
    overflow: hidden;
  }

  progress::-webkit-progress-bar {
    background-color: #3e3e40;
  }

  progress::-webkit-progress-value {
    background-color: #45a800;
  }

  progress::-moz-progress-bar {
    background-color: #45a800;
  }

</style>


<div class="container mt">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 centered">
        <audio autoplay loop id="audio" ></audio>
        <audio id="win_sound" src= "http://apm.eduardereza.com/audio/voy_fuerte.mp3"%> ></audio>
        <audio id="loose_sound" src= "http://apm.eduardereza.com/audio/zasca.mp3"%> ></audio>
        <div id="quiz-id" style="display: none;"> <%= @quiz.id %> </div>
        <div id = "frame" role = "content" >
          <div class="seekbar">
            <progress value="0" max="30"></progress>
          </div>

        </div>
    </div>
  </div>
</div>
  

<div class="modal" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false"id="correct_modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Correct</h4>
        </div>
        <div class="modal-body">
          You are the man
        </div>
        <div class="modal-footer">
          <a class="close" data-dismiss="modal" aria-hidden="true" id="next-question-modal-succes">Next Question</a>
        </div>
      </div>
    </div>
</div>


<div class="modal" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false"id="timeup_modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Boooo!!!!!</h4>
        </div>
        <div class="modal-body">
          Oopss Time out!!
        </div>
        <div class="modal-footer">
          <a class="close" data-dismiss="modal" aria-hidden="true" id="next-question-modal-fail">Next Question</a>
        </div>
      </div>
    </div>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => "shared/game_logic" %>
  </script>
<% end %>