var artist;
var lista_names;

var loadSearch=function(link){
  var xhr =new XMLHttpRequest();
  xhr.open('GET', "https://api.spotify.com/v1/search/?q="+link);
  xhr.setRequestHeader('Accept', 'application/json');
  xhr.onreadystatechange = function () {
      if (this.readyState === 4) {
        if (this.status === 200) {
          response = JSON.parse(this.response);
          lista = response.tracks.items;
          console.log(lista);
          lista_names = $.map( lista, function( plump ) {
            return plump.artists;
          });

          lista_names = $.map( lista, function( plump ) {
            return plump.name;
          }).slice(5, 9);
          putResults(response.tracks.items);
          var results=document.querySelector("#results");
          
          results.addEventListener('click',function(evt){
            evt.preventDefault();
            var selected=evt.target;
            //If the user click on the song name or author name we have to get the url from <a></a>
            if(evt.target.nodeName!=="A")
              selected=evt.target.parentNode;
              var name = $(selected).find('.song')[0].innerHTML;
              artist = $(selected).find('.artist')[0].innerHTML;
              var field = $("#question_song")[0];
              var image_field = $("#question_image_url")[0]
              image_field.value = $(selected)[0].image_url
              field.value = selected.id;
              document.getElementById("chosenSong").innerHTML = name;
              $('#the_correct_answer')[0].value = name;
              document.getElementById('results').innerHTML = '';
          });
        }
      }
    };


  xhr.send();
};

var parseSearch=function(query){
  var newValue="";
  for(var i=0;i<query.length;i++){
    if(query[i]==" ")
      newValue+="%20";
    else
      newValue+=query[i];
  }
  return newValue;
};

var setProgress=function(audio,progress){
  var ratio=30/audio.duration;
  var progressValue=Math.floor(ratio*audio.currentTime);
  progress.value=progressValue;
}

document.addEventListener('submit', function (evt){
      if(evt.target.id==='search'){
      evt.preventDefault();
      var words= evt.target.searchItem.value;
      words+="&type=track";
      link=parseSearch(words);
      loadSearch(link);
    }

});
var putResults=function(object){
  var ul=document.querySelector("#results");
  //First we have to remove previous searches
  while(ul.hasChildNodes()){
    ul.removeChild(ul.firstChild);
  }
  for(var key in object){
    var artist=document.createElement("span");
    var song=document.createElement("span");
    var li=document.createElement("li");
    var a=document.createElement("a");
    artist.className="artist";
    song.className="song";
    var image_url = object[key].album.images[0].url;
    artist.textContent= " by " + object[key].artists[0].name;
    song.textContent= object[key].name;
    a.id=object[key].id;
    a.appendChild(song);
    a.image_url = image_url;
    a.appendChild(artist);
    li.appendChild(a);
    ul.appendChild(li);
  }

}

$("#lazy_button").click( function(){
  console.log("hello");
  var a1 = lista_names[0];
  var a2 = lista_names[1];
  var a3 = lista_names[2];
  console.log(lista_names)
  $("#question_id_1")[0].value = a1;
  $("#question_id_2")[0].value = a2;
  $("#question_id_3")[0].value = a3;
  
});

