  var quiztitle ;
  var currentquestion = 0,
      score = 0,
      cansubmit = true,
      quiz,
      picked,
      sheet,
      startNum;


  Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('0b3fd7d5eb569adb55a2');
    var channel = pusher.subscribe('server_channel');

    channel.bind('new_signup', function(data) {
      var user_name = data.message;
      $('#log').append("@ " + user_name+ " just joined the quiz party</br>");
      var image_block = $('<img>').attr('src', "http://twitter.com/api/users/profile_image/"+ user_name +"?size=bigger");
      $('#players').append(image_block);
    });

    channel.bind('update_score', function(data) {
      var username = data.username;
      var score = data.score;
      var answer = data.answer;
      $('<p/>').text(username + " answered " + answer + " and has " + score + " points ").appendTo('#scoreboard');
    });
    channel.bind('ranking', function(data) {
      var players = data.message;
      var arrayLength = players.length;
      $('#scoreboard').empty();
      for (var i = 0; i < arrayLength; i++) {
          $('<p/>').text(players[i].username + " got " + players[i].score).appendTo('#scoreboard');
      }
    });

        $(document).ready(function(){

        function htmlEncode(value) {
            return $(document.createElement('div')).text(value).html();
        }

        var loadAudio = function (link){
          console.log("load auido")
          $.ajax({
              url: "https://api.spotify.com/v1/tracks/"+link,
              type: 'GET',
              crossDomain : true,
              xhrFields: {
              },
              success: function(data) {
                audio.setAttribute('src', data.preview_url);
                  }
              })
        };


        audio.addEventListener('canplaythrough', function() {
           $('#box-loader')[0].className="loader hidden";
           $('#todo')[0].className = "";
           anim(10);
           audio.play();
           audio.volume=1;
         }, false);




        function setupLayout () {
          $('<div/>').text(quiztitle).appendTo('#frame');
          $('<div/>').addClass('questionCounterBanner').attr('id', 'questionCounterBanner').text('Question 1 of ' + quiz.length).appendTo('#frame');
          $('<h1/>').addClass('question').attr('id', 'question').text(quiz[0]['question_title']).appendTo('#frame');
          $('<img/>').addClass('question-image').attr('id', 'question-image').attr('src', quiz[0]['image']).attr('alt', htmlEncode(quiz[0]['question'])).appendTo('#frame');
          $('<ul/>').attr('id', 'choice-block').appendTo('#frame');
          addChoices(quiz[0]['choices']);
          $('<div/>').addClass('choice-box').attr('id', 'nextButton').text('NextQuestion').appendTo('#frame').hide();
          setupButtons(); 

          $("#nextQuest").on('click', function (){

            console.log("clicked next question");
            $('#todo')[0].className = "hidden";
            $('#scoreboard').empty();
            upCounter();
          })
        }

        function addChoices(choices) { 
          console.log("currentquestion: " + currentquestion);
          $('#choice-block').empty();
          for (var i = 0; i < choices.length-1; i++) {
            $('<li/>').addClass('choice choice-box').attr('data-index', i).text(choices[i].title).appendTo('#choice-block');
          }
          var steal = $("#choice-block li")[sheet[currentquestion]];
          $(steal).before("<li>" + choices[3].title + "</li>");
        }

        function setupButtons() {
          $('.choice').on('click', function () {
              choice = $(this).attr('data-index');
              if (quiz[currentquestion]['choices'][choice].correct) {
                  score++;
              } 
              $("#nextButton").show();
              if (cansubmit) {
                  cansubmit = false;
                  $("#nextButton").click(function(){
                       $('.choice').off('click');
                      $(this).off('click');
                  });
              }
          })
        }




        function upCounter() {
            $('#box-loader')[0].className="loader";
            currentquestion++;
            $("#nextButton").hide();
            if (currentquestion == quiz.length) {
                  endQuiz();
                  $.ajax({
                          url: "/games/end_quiz",
                          type: "post",
                          data: {},
                          dataType: "json"
                        }); 

              } else {
                  console.log("nextQuestion")
                  $.ajax({
                          url: "/games/next_question",
                          type: "post",
                          data: {},
                          dataType: "json"
                        });     
                  nextQuestion();
              }
        }

        function nextQuestion() {
            cansubmit = true;
            loadAudio(quiz[currentquestion]['song']);
            $('#question').text(quiz[currentquestion]['question']);
            $('#questionCounterBanner').text('Question ' + Number(currentquestion + 1) + ' of ' + quiz.length);  
            $('#question-image').attr('src', quiz[currentquestion]['image']).attr('alt', htmlEncode(quiz[currentquestion]['question']));
            addChoices(quiz[currentquestion]['choices']);
            setupButtons();
        }

        function anim(n) {   
          console.log(n);  
          $('#countdown').fadeIn('fast', function() {
            if ($(this).html() == "") {
            $(this).html(n); // init first time based on n
              startNum = n;
            }
            $('#countdown').delay(600).hide(400, function () {
              if (n === 0){
                $(this).html("");
                
              } else{
                n--;
                $(this).html(n);
                anim(n);
              } 
            }); 

          });
        }

        function endQuiz() {
            $('#box-loader').remove();
            $('#countdown').empty();
            $('#question').empty();
            $('#choice-block').empty();
            $('#nextButton').remove();
            $('#question').text("You got " + score + " out of " + quiz.length + " correct.");
            $('h2').text(Math.round(score / quiz.length * 100) + '%').insertAfter('#question');

        }

        function  createAnswerSheet(){
          lista = [];
          for ( var i = 0; i < quiz.length; i++ ) { 
            lista.push(Math.floor(Math.random() * 3));
          }
          return lista
        };

        function sendAnswerSheet(){
          sheet = createAnswerSheet();
          console.log(sheet);
          var data = {sheet: sheet};
          $.ajax({
                  url: "/games/answersheet",
                  type: "post",
                  data: data,
                  dataType: "json"
                });
          console.log(data.sheet)
        }

          function init() {
              $('#box-loader')[0].className="loader";

              $.ajax({
                    url: "/users/" + $('#user-id').text() +"/quizzes/" + $('#quiz-id').text() + ".json",
                    type: 'GET',
                    crossDomain : true,
                    xhrFields: {
                    withCredentials: true
                },
                    success: function(data) {
                    }
                }).done(function(data) {
                  quiztitle = Object.keys(data);
                  quiz = data[Object.keys(data)];
                  console.log(quiz)
                  sendAnswerSheet();
                  setupLayout();
                  loadAudio(quiz[0].song);

                  

                });
          }


        $("#start_game").click(function(){
          $('#start-dash').remove();
          $.ajax({
              url: "/games/start",
              type: "post",
              data: {},
              dataType: "json"
            });
            console.log($("#frame"));
            $("#frame").html('');
            init();

        });
    });




