<button type="button" id="fuck" class="btn btn-default btn-lg">

</button>
<div id="joder"></div>

<script type="text/javascript">
  document.getElementById('fuck').addEventListener('click', function(evt){

    document.getElementById('joder').innerHTML = "uyuy"
    
  });

</script>

