this is a dahsboard

this is where the game will be played by clients
<div id="frame">
  <div class="form-horizontal">
      <input name="search" id="username"/>
      <button class="btn" >button</button>
  </div>
</div>



<style type="text/css">
  .dummy{
    background-color: #e74c3c;
    height: 80px;
  }

</style>

<script src="//js.pusher.com/2.2/pusher.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">
  Pusher.log = function(message) {
        if (window.console && window.console.log) {
          window.console.log(message);
        }
      };

  var pusher = new Pusher('0b3fd7d5eb569adb55a2');
  var channel = pusher.subscribe('test_channel');
  
  channel.bind('start_game', function(data) {
    $("#frame").empty();
    $("#frame").append('<div class="row"><div class="col-md-3 col-sm-4 col-xs-6"><div id="choice-1" class="dummy" id="choice-2" >option #1</div></div><div class="col-md-3 col-sm-4 col-xs-6"><div class="dummy" id="choice-3" >option #2</div></div><div class="col-md-3 col-sm-4 col-xs-6"><div class="dummy" id="choice-4" >option #3</div></div><div class="col-md-3 col-sm-4 col-xs-6"><div class="dummy">option #4</div></div></div></div>');
  });



var setUpLobby = function() {
  $("#frame").empty();
};


 $(".btn").click(function(){
    var input = $("#username").val();
    console.log(input);
    var data = {username: input};
    $.ajax({
          url: "/games/client",
          type: "post",
          data: data,
          dataType: "json"
        });
    setUpLobby();


    });



  

   

    
  </script>