<style type="text/css">
  body{
    background-image: none;
  }
</style>
<div class="container theframe">
  this is a dahsboard

  this is where the game will be played by clients
  <div id="frame">
    <div class="form-horizontal">
        <input name="search" id="username"/>
        <button class="btn" >button</button>
    </div>
  </div>
</div>



<style type="text/css">
    #frame {
        height:500px;
        width: 100%;
    }
    .box {
        width: 50%;
        height: 50%;
        float: left;
    }

    .box:nth-of-type(1) {
        background: #2980b9;
    }

    .box:nth-of-type(2) {
        background: #e74c3c;
        border-left: 1px solid #f00;
    }

    .box:nth-of-type(3) {
        background: #27ae60;
        border-top: 1px solid #f00;
    }

    .box:nth-of-type(4) {
        background: #e67e22;
        border-top: 1px solid #f00;
        border-left: 1px solid #f00;
    }
</style>

<script src="//js.pusher.com/2.2/pusher.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">
  Pusher.log = function(message) {
        if (window.console && window.console.log) {
          window.console.log(message);
        }
      };

  var pusher = new Pusher('0b3fd7d5eb569adb55a2');
  var channel = pusher.subscribe('test_channel');
  
  channel.bind('start_game', function(data) {
    $("#frame").empty().addClass("activated");

    $("#frame").append('<div class="box" id="c1"></div><div class="box" id="c2"></div><div class="box"  id="c3"></div><div class="box" id="c4"></div>');

    $('#c1').on('click', function(e) {
      console.log("choice 1");
      

    });

    $('#c2').on('click', function(e) {
      console.log("choice 2");
      
      
    });

    $('#c3').on('click', function(e) {
      console.log("choice 3");
      
      
    });

    $('#c4').on('click', function(e) {
      console.log("choice 4");
      
      
    });



  });


  







var setUpLobby = function() {
  $("#frame").empty();
};


 $(".btn").click(function(){
    var input = $("#username").val();
    console.log(input);
    var data = {username: input};
    $.ajax({
          url: "/games/signup",
          type: "post",
          data: data,
          dataType: "json"
        });
    setUpLobby();
    });
</script>