
<div id="player_username" style="display: none;"></div>
  <div class="container theframe">
    <div id="frame">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">        
            <div class="form-large">
              <div class="form-group">
                <div class="input-append">
                  <input name="search" id="username" placeholder="Enter twitter username..." autofocus/>
                  <button id="send_user_name" >Join the Quizparty!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /row -->
    </div> <!-- /container -->
  </div>
</div>

<% content_for :head do %>
  <style type="text/css">
    <%= render :partial => "shared/client_style" %>
  </style>
  <script src="//js.pusher.com/2.2/pusher.js" type="text/javascript"></script>
  <script type="text/javascript">
    <%= render :partial => "shared/client_logic" %>
  </script>
<% end %>