<style type="text/css">
  
  .hidden{
    visibility:hidden;
  }
  body{
    background-image: none;
  }

  @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic);
  body {
    background-color: black;  
  }
  #countdown {
    font-family: 'Roboto Condensed', sans-serif;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -100px;
    margin-top: -50px;
    color: white;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
  } 


  .loader{
    margin:200px auto;
  }
  h1{
    font-family: 'Actor', sans-serif;
    color:#FFF;
    font-size:32px;
    letter-spacing:1px;
    font-weight:200;
    text-align:center;
  }
  .loader span{
    width:16px;
    height:16px;
    border-radius:50%;
    display:inline-block;
    position:absolute;
    left:50%;
    margin-left:-10px;
    -webkit-animation:3s infinite linear;
    -moz-animation:3s infinite linear;
    -o-animation:3s infinite linear;
    
  }

  .loader span:nth-child(2){
    background:#E84C3D;
    -webkit-animation:kiri 1.2s infinite linear;
    -moz-animation:kiri 1.2s infinite linear;
    -o-animation:kiri 1.2s infinite linear;
    
  }
  .loader span:nth-child(3){
    background:#F1C40F;
    z-index:100;
  }
  .loader span:nth-child(4){
    background:#2FCC71;
    -webkit-animation:kanan 1.2s infinite linear;
    -moz-animation:kanan 1.2s infinite linear;
    -o-animation:kanan 1.2s infinite linear;
  }
  ul{
      list-style-type: none;
  }

  #frame{
    margin-top: -40px;

  }

  #question{
    margin-bottom:60px;
  }


  #choice-block li {
    letter-spacing: 2px;
    line-height: 4.5em;
    font-family:Montserrat;
    color: white;
    list-style: none;
    text-align: center;
    width:40%;;
    line-height: 60px;
    margin: auto;
    margin-bottom:3px;
  }

  #choice-block li:nth-of-type(1) {
      background: #2980b9;
  }

  #choice-block li:nth-of-type(2) {
      background: #e74c3c;
  }

  #choice-block li:nth-of-type(3) {
      background: #27ae60;
  }

  #choice-block li:nth-of-type(4) {
      background: #e67e22;

  }

  body div{
    color:white;
  }

  @-webkit-keyframes kanan {
      0% {-webkit-transform:translateX(20px);
      }
    50%{-webkit-transform:translateX(-20px);
    }
    
    100%{-webkit-transform:translateX(20px);
    z-index:200;
    }
  }
  @-moz-keyframes kanan {
      0% {-moz-transform:translateX(20px);
      }
     
    50%{-moz-transform:translateX(-20px);
    }
    
    100%{-moz-transform:translateX(20px);
    z-index:200;
    }
  }
  @-o-keyframes kanan {
      0% {-o-transform:translateX(20px);
      }
    50%{-o-transform:translateX(-20px);
    }
    100%{-o-transform:translateX(20px);
    z-index:200;
    }
  }

  @-webkit-keyframes kiri {
       0% {-webkit-transform:translateX(-20px);
    z-index:200;
      }
    50%{-webkit-transform:translateX(20px);
    }
    100%{-webkit-transform:translateX(-20px);
    }
  }

  @-moz-keyframes kiri {
       0% {-moz-transform:translateX(-20px);
    z-index:200;
      }
    50%{-moz-transform:translateX(20px);
    }
    100%{-moz-transform:translateX(-20px);
    }
  }
  @-o-keyframes kiri {
       0% {-o-transform:translateX(-20px);
    z-index:200;
      }
    50%{-o-transform:translateX(20px);
    }
    100%{-o-transform:translateX(-20px);
    }
  }



</style>

<div id="quiz-id" style="display: none;"> <%= @quiz_id %> </div>
<div id="user-id" style="display: none;"> <%= @user_id %> </div>

<div class="container theframe" >
  <div id="scoreboard" class=""></div> <!-- //took hidden out -->
  <audio autoplay loop id="audio" ></audio>
  <div id="players"></div>


   <div id="box-loader" class= "hidden">
     <div class="loader" id="circles">
         <h1>LOADING</h1>
         <span></span>
         <span></span>
         <span></span>
     </div>
  </div>
  <div id="todo" class="hidden">
    <div class="container mt">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 centered">
            <div id="countdown"></div>
              <div id = "frame" class= "row" role = "content" > 
            </div>
            <div id="timeup"></div>
          </div>
        </div>
      </div>     
</div>
<div class="row"> 
  <button class="btn pull-left" id="start_game" >START QUIZ</button>
  <button class="btn pull-right" id="nextQuest" >NEXT QUESTION</button>
</div> 

<script src="//js.pusher.com/2.2/pusher.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  var quiztitle ;
  var currentquestion = 0,
      score = 0,
      cansubmit = true,
      quiz,
      picked,
      sheet,
      startNum;


  Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('0b3fd7d5eb569adb55a2');
    var channel = pusher.subscribe('server_channel');
    channel.bind('new_signup', function(data) {
      $('#players').append('<p>'+ data.message + ' that si the answer sheet </p>');
    });

    channel.bind('got_answer_sheet', function(data) {
      $('<p/>').text("fuckinggggg answesheet: " + data.sheet).appendTo('#scoreboard');
      $('<p/>').text("fuckinggggg scores: " + data.scores).appendTo('#scoreboard');
      $('<p/>').text("fuckinggggg players: " + data.players).appendTo('#scoreboard');
    });
    channel.bind('update_score', function(data) {
      var username = data.username;
      var score = data.score;
      var answer = data.answer;
      $('<p/>').text(username + " answered " + answer + " and has " + score + " points ").appendTo('#scoreboard');
    });

        $(document).ready(function(){

        function htmlEncode(value) {
            return $(document.createElement('div')).text(value).html();
        }

        var loadAudio = function (link){
          console.log("load auido")
          $.ajax({
              url: "https://api.spotify.com/v1/tracks/"+link,
              type: 'GET',
              crossDomain : true,
              xhrFields: {
              },
              success: function(data) {
                audio.setAttribute('src', data.preview_url);
                  }
              })
        };


        audio.addEventListener('canplaythrough', function() {
           $('#box-loader')[0].className="loader hidden";
           $('#todo')[0].className = "";
           anim(3);
           audio.play();
           audio.volume=0.3;
         }, false);




        function setupLayout () {
          $('<div/>').text(quiztitle).appendTo('#frame');
          $('<div/>').addClass('questionCounterBanner').attr('id', 'questionCounterBanner').text('Question 1 of ' + quiz.length).appendTo('#frame');
          $('<h1/>').addClass('question').attr('id', 'question').text(quiz[0]['question_title']).appendTo('#frame');
          $('<img/>').addClass('question-image').attr('id', 'question-image').attr('src', quiz[0]['image']).attr('alt', htmlEncode(quiz[0]['question'])).appendTo('#frame');
          $('<ul/>').attr('id', 'choice-block').appendTo('#frame');
          addChoices(quiz[0]['choices']);
          $('<div/>').addClass('choice-box').attr('id', 'nextButton').text('NextQuestion').appendTo('#frame').hide();
          setupButtons(); 

          $("#nextQuest").on('click', function (){
            console.log("clicked next question");
            $('#todo')[0].className = "hidden";
            $('#scoreboard').empty();
             $.ajax({
                     url: "/games/next_question",
                     type: "post",
                     data: {},
                     dataType: "json"
                   });
            upCounter();
          })
        }

        function addChoices(choices) { 
          console.log("currentquestion: " + currentquestion);
          $('#choice-block').empty();
          for (var i = 0; i < choices.length-1; i++) {
            $('<li/>').addClass('choice choice-box').attr('data-index', i).text(choices[i].title).appendTo('#choice-block');
          }
          var steal = $("#choice-block li")[sheet[currentquestion]];
          $(steal).before("<li>" + choices[3].title + "</li>");
        }

        function setupButtons() {
          $('.choice').on('click', function () {
              choice = $(this).attr('data-index');
              if (quiz[currentquestion]['choices'][choice].correct) {
                  score++;
              } 
              $("#nextButton").show();
              if (cansubmit) {
                  cansubmit = false;
                  $("#nextButton").click(function(){
                       $('.choice').off('click');
                      $(this).off('click');
                  });
              }
          })
        }




        function upCounter() {
            $('#box-loader')[0].className="loader";
            currentquestion++;
            $("#nextButton").hide();
            if (currentquestion == quiz.length) {
                  endQuiz();
              } else {
                  console.log("nextQuestion")     
                  nextQuestion();
              }
        }

        function nextQuestion() {
            cansubmit = true;
            loadAudio(quiz[currentquestion]['song']);
            $('#question').text(quiz[currentquestion]['question']);
            $('#questionCounterBanner').text('Question ' + Number(currentquestion + 1) + ' of ' + quiz.length);  
            $('#question-image').attr('src', quiz[currentquestion]['image']).attr('alt', htmlEncode(quiz[currentquestion]['question']));
            addChoices(quiz[currentquestion]['choices']);
            setupButtons();
        }

        function anim(n) {   
          console.log(n);  
          $('#countdown').fadeIn('fast', function() {
            if ($(this).html() == "") {
            $(this).html(n); // init first time based on n
              startNum = n;
            }
            $('#countdown').delay(600).hide(400, function () {
              if (n === 0){
                $(this).html("");
                
              } else{
                n--;
                $(this).html(n);
                anim(n);
              } 
            }); 

          });
        }

        function endQuiz() {
            $('#box-loader').remove();
            $('#countdown').empty();
            $('#question').empty();
            $('#choice-block').empty();
            $('#nextButton').remove();
            $('#question').text("You got " + score + " out of " + quiz.length + " correct.");
            $('h2').text(Math.round(score / quiz.length * 100) + '%').insertAfter('#question');

        }

        function  createAnswerSheet(){
          lista = [];
          for ( var i = 0; i < quiz.length; i++ ) { 
            lista.push(Math.floor(Math.random() * 3));
          }
          return lista
        };

        function sendAnswerSheet(){
          sheet = createAnswerSheet();
          console.log(sheet);
          var data = {sheet: sheet};
          $.ajax({
                  url: "/games/answersheet",
                  type: "post",
                  data: data,
                  dataType: "json"
                });
          console.log(data.sheet)
        }

          function init() {
              $('#box-loader')[0].className="loader";

              $.ajax({
                    url: "/users/" + $('#user-id').text() +"/quizzes/" + $('#quiz-id').text() + ".json",
                    type: 'GET',
                    crossDomain : true,
                    xhrFields: {
                    withCredentials: true
                },
                    success: function(data) {
                    }
                }).done(function(data) {
                  quiztitle = Object.keys(data);
                  quiz = data[Object.keys(data)];
                  console.log(quiz)
                  sendAnswerSheet();
                  setupLayout();
                  loadAudio(quiz[0].song);

                  

                });

          }


        $("#start_game").click(function(){
          $.ajax({
              url: "/games/start",
              type: "post",
              data: {},
              dataType: "json"
            });
            console.log($("#frame"));
            $("#frame").html('');
            init();

        });
    });








  </script>

